:host {
    display: flex;
    height: calc(100vh - 130px);

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 54px;
        width: 50%;
        align-self: center;

        &__main-label {
            font-weight: 700;
            font-size: 48px;
            line-height: 57px;
            margin: 0;
            text-align: center;
        }

        &__secondary-label {
            font-size: 16px;
            line-height: 19px;
            margin: 11px 0 29px;
            text-align: center;
        }

        &__btn {
            width: 213px;
            height: 51px;
        }
    }
}
