<div>
    <div class="sign-up-content rubik-font">
        <div class="main-label">
            Nice one!
        </div>
        <div class="form-label">
            We’re ready for you
        </div>
        <div class="form roboto-font">
            Thanks for helping to get Stack all ready to go, we can’t wait to see the amazing insights you gather from your customers.
            <br><br>
            To help get you started we’ve sent a handy tips & tricks email - so keep a look out.
        </div>
        <div class="buttonholder">
            <app-stack-button type="action" label="Let’s Get Started" (buttonClicked)="onLaunchStack()"></app-stack-button>
        </div>
    </div>
</div>