@import "/src/assets/styles/variables.scss";
@import "/src/assets/styles/fonts.scss";

.freetext_wrapper {
  * {
    box-sizing: border-box;
  }
  position: relative;
  textarea {
    border: 1px solid $navyPrimary;
    padding: 17px 20px;
    font-weight: 400;
    font-size: 15px;
    color: $navyPrimary;
    border-radius: 5px;
    outline: $bluePrimary;
    width: 315px;
    height: 237px;
    resize: none;
    + label {
      font-weight: 700;
      font-size: 12px;
      color: $navyPrimary;
      background: $white;
      padding: 0 4px;
      transition: all 200ms;
      position: absolute;
      top: 17px;
      left: 20px;
    }
    &:focus,
    &:valid {
      + label {
        top: -5px;
      }
    }
  }
}
