<app-stack-progress-bar width='360px' barBorderRadius='20px 0 0 0' containerBorderRadius="20px 20px 0 0">
</app-stack-progress-bar>
<div class="container">
    <div class="container__details">
        <div class="container__logo">
            <img class="container__logo" src="/assets/imgs/StackLogo.png" alt="">
        </div>
        <h2 class="container__main-label rubik-font">Install</h2>
        <div class="container__sub-description">
            <p class="rubik-font container__secondary-label container__label--bold">
                Copy the code below into...
            </p>

            <p class="rubik-font container__secondary-label container__label--bold container__label-code">
                Your Code:
            </p>
            <div>
                <input type="text" id="files" class="hidden" />
                <label for="files" class="container__file-selection"></label>
            </div>
        </div>
        <div class="container__footer">
            <app-stack-button class="container__btn container__btn--primary roboto-font" type="text-btn" label="Test">
            </app-stack-button>
            <app-stack-button class="container__btn container__btn--secondary roboto-font" type="tertiary-text-btn"
                label="Continue" (click)="onNext.emit()">
            </app-stack-button>
        </div>
    </div>
    <div class="container__packs">
        <div class="container__empty"></div>
    </div>
</div>