@import "/src/assets/styles/variables.scss";

.container {
    padding: 70px 44.54px 101px 70px;
    display: flex;

    &__empty {
        width: 300px;
        height: 400px;
        background: #c4c4c4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    &__logo {
        width: 155px;
        height: 50px;
    }

    &__details {
        display: inline-block;
        width: 365px;
        flex: 0 0 auto;
    }

    &__packs {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
        width: 100%;
    }

    &__stack-card {
        transform: rotate(2.94deg);
    }

    &__main-label {
        font-weight: bold;
        font-size: 48px;
        line-height: 57px;
        color: $navyPrimary;
        margin: 30px 0 20px;
    }

    &__secondary-label {
        font-size: 18px;
        line-height: 21px;
    }

    &__label--bold {
        font-weight: bold;
        margin: 0;
    }

    &__footer {
        margin-top: 33px;
    }

    &__theme-label {
        margin: 18px 0;
    }

    &__label-logo {
        margin-top: 32px;
    }

    &__file-selection {
        width: 322px;
        height: 46px;
        background: #f1efe8;
        margin-top: 13px;
        display: inline-block;
    }

    &__btn {
        display: inline-block;

        &--primary {
            height: 50px;
            width: 100px;
        }

        &--secondary {
            height: 50px;
            width: 178px;
            margin-left: 20px;
        }
    }
}

.hidden {
    display: none;
}
