<div style="width: 100%;">
    <div class="rubik-font title">{{question}}</div>
    <div class="rubik-font subtitle">{{questionDesc}}</div>

    <div class="answer-content">
        <div class="rubik-font content">
            <mat-icon [inline]="true" class="next-icons">chevron_left</mat-icon>
        </div>
        <div class="rubik-font content">{{answer}}</div>
        <div class="rubik-font content">
            <mat-icon [inline]="true" class="next-icons">chevron_right</mat-icon>
        </div>
    </div>
</div>