<div class="select-wrapper">
    <div class="select-box" tabindex="0" 
        (click)="toggleSelect('openclose')" 
        (keydown)="detectKeyBoardClick($event)" 
        [class.valid]="selectValue">
        <div class="selected-value">{{selectValue}}</div>
        <div class="caret">
            <img src="/assets/imgs/dropdown_chevron.png" alt="">
        </div>
    </div>
    <label for={{id}} (click)="toggleSelect('open')">{{label}}</label>
    <div class="options-list-box" [class.active]="isOpen">
        <div class="option" 
            *ngFor="let option of options; index as i"
            tabindex="0"
            (keydown)="detectKeyBoardClick($event, option)"
            (click)="selectValueForDropDown(option)"
            [class.active]="option.active">{{option.label}}</div>
    </div>
</div>