<div style="width: 100%;">
    <div class="graph-div">
        <div class="header-div">
            <div class="rubik-font title">NPS this month</div>
            <div class="rubik-font subtitle">NPS for month/day</div>
        </div>



        <div class="chart-div">


        </div>
    </div>

    <div class="score-div">
        <div style="width: 100%;">
            <div class="rubik-font title">Net Promoter Score</div>
            <div class="rubik-font subtitle">#Promoters - #Dectractors</div>

            <div class="rubik-font content">-</div>
            <div class="rubik-font content-change">0%</div>
            <div class="rubik-font content-desc">Monthly Change</div>
        </div>
    </div>

</div>